<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="p-4 bg-light rounded shadow-sm">
  <h3 class="mb-4 text-primary">{{ isEdit ? 'Sửa phòng' : 'Thêm mới phòng' }}</h3>
  <div class="mb-3">
    <label>Số phòng</label>
    <input type="text" formControlName="room_No" class="form-control">
  </div>

  <div class="mb-3">
    <label>Tên phòng</label>
    <input type="text" formControlName="room_Name" class="form-control">
  </div>

  <div class="mb-3">
    <label>Sức chứa</label>
    <input type="number" formControlName="capacity" class="form-control">
  </div>

  <div class="mb-3">
    <label>Loại phòng</label>
    <select formControlName="type" class="form-select">
      <option value="Single">Đơn</option>
      <option value="Double">Đôi</option>
      <option value="Suite">Cao cấp</option>
    </select>
  </div>

  <div class="mb-3">
    <label>Giá</label>
    <input type="number" formControlName="price" class="form-control">
  </div>

  <div class="mb-3">
    <label>Tình trạng có sẵn?</label>
    <input type="checkbox" formControlName="isAvailable" class="form-check-input ms-2">
  </div>

  <div class="mb-3">
    <label>Giường</label>
    <input type="number" formControlName="bed" class="form-control">
  </div>

  <div class="mb-3">
    <label>Phòng tắm</label>
    <input type="number" formControlName="bath" class="form-control">
  </div>

  <div class="mb-3">
    <label>Diện tích (m²)</label>
    <input type="number" formControlName="area" class="form-control">
  </div>

  <div class="mb-3">
    <label>Mô tả phòng</label>
    <textarea formControlName="description" class="form-control"></textarea>
  </div>

  <div class="mb-3">
    <label>Hình ảnh</label>
    <input type="file" (change)="onFileChange($event)" class="form-control" multiple>
    <div class="preview-images mt-3" *ngFor="let img of selectedImages;let i = index">
      <!-- <img  [src]="typeof img === 'string' ? img :'https://localhost:7275'+roomData.images[i]" alt="preview" style="width:100px; height:100px; object-fit:cover; margin-right: 10px;"> -->
       <img
            [src]="img.isServerImage ? imageUrl+roomData.images[i] : img.url"
            alt="Room Image"
            width="100"
            height="100"
        />
       <button style="margin-left: 5px;" type="button" class="btn btn-danger btn-sm" (click)="removeImage(i)">
        <i class="">x</i>
      </button>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">{{ isEdit ? 'Cập nhập' : 'Lưu' }}</button>

</form>
