<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BookingApp2025</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
  </head>

  <body>
    <div class="container-xxl bg-white p-0">
      <!-- Page Header Start -->
      <div
        class="container-fluid page-header mb-5 p-0"
        style="background-image: url(assets/img/carousel-1.jpg)"
      >
        <div class="container-fluid page-header-inner py-5">
          <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">
              Phòng
            </h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li
                  class="breadcrumb-item text-white active"
                  aria-current="page"
                >
                  Phòng
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="container-xxl py-5">
        <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">
              Phòng khách sạn
            </h6>
            <h1 class="mb-5">
              Khám phá <span class="text-primary text-uppercase">phòng</span>
            </h1>
          </div>
          <div
            class="bg-white p-4 rounded-xl shadow mb-6"
            style="margin-bottom: 50px"
          >
            <c-dropdown [autoClose]="'outside'">
              <button cDropdownToggle cButton>Bộ lọc</button>
              <div
                class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 items-center"
                cDropdownMenu
              >
                <form cForm class="px-4 py-0">
                  <!-- Tìm kiếm từ khóa -->
                  <div>
                    <label class="block text-sm font-medium text-gray-600 mb-1"
                      >Từ khoá</label
                    >
                    <input
                      type="text"
                      [(ngModel)]="keyword"
                      placeholder="Loại phòng, tên phòng"
                      class="form-control"
                      name="keyword"
                    />
                  </div>

                  <!-- Loại phòng -->
                  <div>
                    <label class="block text-sm font-medium text-gray-600 mb-1"
                      >Loại phòng</label
                    >
                    <select
                      [(ngModel)]="filterType"
                      class="form-select"
                      name="type"
                    >
                      <option value="">Tất cả</option>
                      <option value="Single">Đơn</option>
                      <option value="Double">Đôi</option>
                      <option value="Suite">Cao cấp</option>
                      <!-- tuỳ loại bạn có -->
                    </select>
                  </div>

                  <!-- Sức chứa -->
                  <div>
                    <label class="block text-sm font-medium text-gray-600 mb-1"
                      >Sức chứa tối thiểu</label
                    >
                    <input
                      type="number"
                      name="number"
                      [(ngModel)]="filterCapacity"
                      placeholder="≥ number customer"
                      class="form-control"
                    />
                  </div>

                  <!-- Giá từ -->
                  <div>
                    <label class="block text-sm font-medium text-gray-600 mb-1"
                      >Giá từ (VNĐ)</label
                    >
                    <input
                      name="minprice"
                      type="number"
                      [(ngModel)]="filterMinPrice"
                      placeholder="Minimum price"
                      class="form-control"
                    />
                  </div>

                  <!-- Giá đến -->
                  <div>
                    <label class="block text-sm font-medium text-gray-600 mb-1"
                      >Đến (VNĐ)</label
                    >
                    <input
                      type="number"
                      name="maxprice"
                      [(ngModel)]="filterMaxPrice"
                      placeholder="Maximum price"
                      class="form-control"
                    />
                  </div>
                </form>
              </div>
            </c-dropdown>
          </div>
          <div class="row g-4" *ngIf="rooms.length > 0">
            <div
              *ngFor="let room of search() | paginate: {itemsPerPage: itemsPerPage,currentPage: currentPage}"
              class="col-lg-4 col-md-6 wow fadeInUp"
              data-wow-delay="0.1s"
            >
              <div class="room-item shadow rounded overflow-hidden">
                <div class="position-relative">
                  <img
                    class="img-fluid"
                    [src]="imageUrl + room.images[0]"
                    alt=""
                  />
                  <small
                    class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4"
                    >{{ room.price }} VND/ngày</small
                  >
                </div>
                <div class="p-4 mt-2">
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">{{ room.room_Name }}</h5>
                    <div class="ps-2">
                      <small class="fa fa-star text-primary"></small>
                      <small class="fa fa-star text-primary"></small>
                      <small class="fa fa-star text-primary"></small>
                      <small class="fa fa-star text-primary"></small>
                      <small class="fa fa-star text-primary"></small>
                    </div>
                  </div>
                  <div class="d-flex mb-3">
                    <small class="border-end me-3 pe-3"
                      ><i class="fa fa-bed text-primary me-2"></i
                      >{{ room.bed }}</small
                    >
                    <small class="border-end me-3 pe-3"
                      ><i class="fa fa-bath text-primary me-2"></i
                      >{{ room.bath }}</small
                    >
                    <small
                      ><i class="fa fa-wifi text-primary me-2"></i>Wifi</small
                    >
                  </div>
                  <p class="text-body mb-3">{{ room.description }}</p>
                  <div class="d-flex justify-content-between">
                    <a
                      class="btn btn-sm btn-primary rounded py-2 px-4"
                      (click)="openModal(room)"
                      >Chi tiết</a
                    >
                    <a
                      class="btn btn-sm btn-outline-primary rounded py-2 px-4"
                      (click)="openBooking(room)"
                      >Đặt ngay</a
                    >
                    <div
                      class="modal fade"
                      id="addRoomModal"
                      tabindex="-1"
                      aria-labelledby="addRoomModalLabel"
                      aria-hidden="true"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="rooms.length === 0">
            <h1 class="text-center mt-10">Không có dữ liệu phòng</h1>
          </div>
        </div>
      </div>
      <!-- Room End -->
       <pagination-controls
      (pageChange)="currentPage = $event"
        [autoHide]="true"
        class="mt-4 d-flex justify-content-center"
        previousLabel="← Trước"
        nextLabel="Tiếp →"
        [responsive]="true"
      ></pagination-controls>
      <!--Bootstrap top-up modal-->
      <div
        #topUpModal
        class="modal fade"
        id="topUpModal"
        tabindex="-1"
        aria-labelledby="topUpModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="topUpModalLabel">Chi tiết phòng</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <app-room-detail [room]="selectedRoom"></app-room-detail>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="videoModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!-- 16:9 aspect ratio -->
              <div class="ratio ratio-16x9">
                <iframe
                  class="embed-responsive-item"
                  src=""
                  id="video"
                  allowfullscreen
                  allowscriptaccess="always"
                  allow="autoplay"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Video End -->
      <!-- Newsletter Start -->
      <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
          <div class="col-lg-10 border rounded p-1">
            <div class="border rounded text-center p-1">
              <div class="bg-white rounded text-center p-5">
                <h4 class="mb-4">
                  <span class="text-primary text-uppercase"
                    >Để lại email để cập nhập thông tin mới nhất</span
                  >
                </h4>
                <div class="position-relative mx-auto" style="max-width: 400px">
                  <input
                    class="form-control w-100 py-3 ps-4 pe-5"
                    type="text"
                    placeholder="Địa chỉ email"
                  />
                  <button
                    type="button"
                    class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2"
                  >
                    Xác nhận
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Newsletter Start -->
      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>
  </body>
</html>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/lib/wow/wow.min.js"></script>
<script src="../../assets/lib/easing/easing.min.js"></script>
<script src="../../assets/lib/waypoints/waypoints.min.js"></script>
<script src="../../assets/lib/counterup/counterup.min.js"></script>
<script src="../../assets/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../assets/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
