<div class="container py-lg-5">
  <h4>Quản lý đặt phòng</h4>

  <div class="mb-3">
    <input
      class="form-control"
      [(ngModel)]="keyword"
      placeholder="Tìm kiếm..."
    />
  </div>
      <!-- Toolbar lọc -->
  <div class="d-flex flex-wrap align-items-center gap-3 mb-4">
    <!-- Lọc theo phương thức thanh toán -->
    <div>
      <label class="form-label me-2"><strong>Phương thức:</strong></label>
      <select
        class="form-select d-inline-block w-auto"
        [(ngModel)]="selectedPaymentMethod"
        (ngModelChange)="search()"
        name="paymentMethod"
      >
        <option value="">Tất cả</option>
        <option *ngFor="let pm of paymentMethods" [value]="pm">{{ pm }}</option>
      </select>
    </div>

    <!-- Lọc theo trạng thái đơn -->
    <div>
      <label class="form-label me-2"><strong>Trạng thái đơn:</strong></label>
      <ng-container *ngFor="let s of statuses">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            [id]="'status' + s.value"
            [value]="s.value"
            (change)="toggleStatus(s.value)"
            [checked]="selectedStatuses.includes(s.value)"
          />
          <label class="form-check-label" [for]="'status' + s.value">{{ s.label }}</label>
        </div>
      </ng-container>
    </div>
    <div>
     <div class="mb-6 border-b border-gray-200">
  <div class="flex space-x-4">
    <button
      class="pb-2 transition-all duration-300 text-gray-600 hover:text-primary relative"
      [ngClass]="{
        'border-b-2 border-primary text-primary font-semibold': statMode === 'today'
      }"
      (click)="setStatMode('today')"
    >
      Hôm nay
    </button>
    <button
      class="pb-2 transition-all duration-300 text-gray-600 hover:text-primary relative"
      [ngClass]="{
        'border-b-2 border-primary text-primary font-semibold': statMode === 'month'
      }"
      (click)="setStatMode('month')"
    >
      Tháng này
    </button>
    <button
      class="pb-2 transition-all duration-300 text-gray-600 hover:text-primary relative"
      [ngClass]="{
        'border-b-2 border-primary text-primary font-semibold': statMode === 'custom'
      }"
      (click)="setStatMode('custom')"
    >
      Tuỳ chọn...
    </button>
  </div>
  <div *ngIf="statMode === 'custom'" class="mb-4 flex items-center gap-4">
  <label>Từ:</label>
  <input type="date" [(ngModel)]="fromDate" />
  <label>Đến:</label>
  <input type="date" [(ngModel)]="toDate" />  
   <button class="btn btn-sm btn-primary" (click)="loadBookings()">Lọc</button>
</div>
</div>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Tên khách</th>
        <th>Email</th>
        <th>Checkin</th>
        <th>Chi tiết</th>
        <th>Tổng tiền</th>
        <th>Ghi chú</th>
        <th>Checkout</th>
        <th>Thanh toán</th>
        <th>Trạng thái đặt phòng</th>
        <th>Ngày tạo</th>
        <th>Ngày thanh toán</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of search() | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ b.userName }}</td>
        <td>{{ b.userEmail }}</td>
        <td>{{ formatDate(b.checkinDate) }}</td>
        <td class="p-0" style="min-width: 300px; max-width: 600px; width: 40vw;">
          <div *ngFor="let room of b.details" class="mb-2 p-2 border rounded">
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <strong>Phòng:</strong> {{ room.room_No }} - {{ room.room_Name
                  }}<br />
                  <strong>Thời gian lưu trú:</strong> {{ formatDate(room.checkinDate) }} →
                  {{ formatDate(room.checkoutDate) }}<br />
                  <strong>Ghi chú: </strong> {{ room.roomNote }} <br>
                  <strong>Giá:</strong> {{ room.price | number }} VNĐ <br>
                  <strong>Tổng tiền phòng:</strong> {{ room.totalAmount | number }} VNĐ
                </div>
                <div>
                  <button
                    *ngIf="!room.isCheckedIn && b.status != 2"
                    class="btn btn-success btn-sm"
                    (click)="checkIn(b.id, room.roomId, room)"
                  >
                    Check in phòng {{ room.room_No}}
                  </button>
                  <button
                    *ngIf="room.isCheckedIn && !room.isCheckedOut"
                    class="btn btn-warning btn-sm"
                    (click)="checkOut(b.id, room.roomId, room)"
                  >
                    Check out phòng {{ room.room_No }}
                  </button>
                  <span *ngIf="room.isCheckedOut" class="badge bg-info"
                    >Hoàn thành</span
                  >
                </div>
              </div>

      <div *ngIf="room.services?.length" class="mt-2">
        <strong>Dịch vụ thêm:</strong>
        <ul class="list-group list-group-flush mt-1">
          <li 
            *ngFor="let svc of room.services" 
            class="list-group-item p-2"
          >
            <div class="d-flex justify-content-between">
              <div>
                {{ svc.title }} 
                (x{{ svc.amount }})  
                &#64; {{ svc.price | number }}₫
              </div>
              <div class="fw-bold">
                {{ (svc.amount * svc.price) | number }}₫
              </div>
            </div>
          </li>
        </ul>
      </div>
            </td>
          </div>
        </td>
        <td>{{ b.totalPrice | number }} VND</td>
        <td>{{ b.note }}</td>
        <td>{{ formatDate(b.checkoutDate) }}</td>
        <td>{{ b.paymentMethod }}</td>
        <td class="text-center">
          <!-- 0 pending , 1 confirmed ( paid) 2: canceled 3: done (đã check out) -->
          <span
            class="badge"
            [ngClass]="{
              'bg-warning': b.status === 0,
              'bg-success': b.status === 1 && b.isPaid,
              'bg-danger': b.status === 2,
              'bg-info': b.status === 3 && b.isPaid
            }"
          >
            {{ getStatusName(b.status) }}
          </span>
        </td>
        <td>{{ formatDate(b.bookingDate) }}</td>
        <td>{{ formatDate(b.paymentDate) }}</td>
        <td>
            <button *ngIf="b.status != 3"  class="btn btn-danger btn-sm"  (click)="deleteBooking(b.id)">Xoá</button>
        </td>
      </tr>
    </tbody>
  </table>
                 <pagination-controls
      (pageChange)="currentPage = $event"
        [autoHide]="true"
        class="mt-4 d-flex justify-content-center"
        previousLabel="← Trước"
        nextLabel="Tiếp →"
        [responsive]="true"
      ></pagination-controls>
</div>
