  <!-- Customized Bootstrap Stylesheet -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../assets/css/style.css" rel="stylesheet">
<div class="container mt-5">
  <h3 class="mb-4">Thanh Toán</h3>
<form *ngIf="booking" (ngSubmit)="submitPayment()" #paymentForm="ngForm">
  <p>Mã đơn: {{ booking.id }}</p>
  <div class="mb-3">
    <label for="username" class="form-label">Họ và tên</label>
    <input type="text" class="form-control" id="username"
           [(ngModel)]="user.username" name="username" required disabled=""/>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email"
           [(ngModel)]="user.email" name="email" required disabled />
  </div>

  <div class="mb-3">
    <label for="gender" class="form-label">Giới tính</label>
    <input type="gender" class="form-control" id="gender"
           [(ngModel)]="user.gender" name="gender" required disabled/>
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Số điện thoại</label>
    <input type="text" class="form-control" id="phone"
           [(ngModel)]="user.phoneNumber" name="phone" required disabled=""/>
  </div>

  <div class="mb-3">
    <label for="address" class="form-label">Địa chỉ</label>
    <input type="text" class="form-control" id="address"
           [(ngModel)]="user.address" name="address" required disabled=""/>
  </div>

  <div class="mb-3">
    <label for="totalPrice" class="form-label">Tổng tiền phải thanh toán (VNĐ)</label>
    <input type="number" class="form-control" id="totalPrice"
           [(ngModel)]="booking.totalPrice" name="totalPrice" required disabled />
  </div>

  <div class="mb-3">
    <label for="method" class="form-label">Phương thức thanh toán</label>
    <select class="form-select" id="method"
            [(ngModel)]="this.paymentMethod" name="method" required>
      <option value="Cash">Tiền mặt</option>
      <option value="VNPay">VNPay</option>
      <option value="PayPal">PayPal</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary w-100" *ngIf="!booking.isPaid">
    Thanh toán
  </button>
  <button type="submit" disabled class="btn btn-primary w-100" *ngIf="booking.isPaid">
    Đã thanh toán rồi
  </button>
</form>
</div>
