<!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="../../assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../assets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../assets/css/style.css" rel="stylesheet">
<div class="container mt-4">
  <h3 class="mb-4">User info</h3>
  <form (ngSubmit)="updateProfile()" *ngIf="user">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="username" class="form-label">User name</label>
        <input [(ngModel)]="user.username" name="username" type="text" class="form-control" required />
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input [(ngModel)]="user.email" name="email" type="email" class="form-control" required disabled=""/>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="gender" class="form-label">Gender</label>
        <select [(ngModel)]="user.gender" name="gender" class="form-select">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Phone number</label>
        <input [(ngModel)]="user.phoneNumber" name="phone" type="text" class="form-control" />
      </div>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input [(ngModel)]="user.address" name="address" type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <a [routerLink]="['/password']" routerLinkActive="router-link-active" >Change password</a>
    </div>
    <button type="submit" class="btn btn-primary">Update information</button>
  </form>

  <div *ngIf="message" class="alert alert-success mt-3">
    {{ message }}
  </div>
</div>

