
<!-- Customized Bootstrap Stylesheet -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../assets/css/style.css" rel="stylesheet">
<div class="container mt-4">
  <h3 class="mb-4">Thông tin cá nhân</h3>
  <form (ngSubmit)="updateProfile()" *ngIf="user">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="username" class="form-label">Họ và tên</label>
        <input [(ngModel)]="user.username" name="username" type="text" class="form-control" required />
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input [(ngModel)]="user.email" name="email" type="email" class="form-control" required disabled=""/>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="gender" class="form-label">Giới tính</label>
        <select [(ngModel)]="user.gender" name="gender" class="form-select">
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
          <option value="Khác">Khác</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Số điện thoại</label>
        <input [(ngModel)]="user.phoneNumber" name="phone" type="text" class="form-control" />
      </div>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Địa chỉ</label>
      <input [(ngModel)]="user.address" name="address" type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <a [routerLink]="['/password']" routerLinkActive="router-link-active" >Đổi mật khẩu</a>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhập thông tin</button>
  </form>

  <div *ngIf="message" class="alert alert-success mt-3">
    {{ message }}
  </div>
</div>

