<!-- Customized Bootstrap Stylesheet -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../assets/css/style.css" rel="stylesheet">
<form (ngSubmit)="changePassword()" #passwordForm="ngForm">
  <h5 class="mt-4">Đổi mật khẩu</h5>

  <div class="mb-3">
    <label class="form-label">Mật khẩu cũ</label>
    <input [(ngModel)]="passwordData.oldPassword" name="oldPassword" type="password" class="form-control" required />
  </div>

  <div class="mb-3">
    <label class="form-label">Mật khẩu mới</label>
    <input [(ngModel)]="passwordData.newPassword" name="newPassword" type="password" class="form-control" required />
  </div>

  <button type="submit" class="btn btn-warning">Đổi mật khẩu</button>

  <div *ngIf="passwordMessage" class="alert mt-2" [ngClass]="{'alert-success': passwordSuccess, 'alert-danger': !passwordSuccess}">
    {{ passwordMessage }}
  </div>
</form>
