<!-- Customized Bootstrap Stylesheet -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../assets/css/style.css" rel="stylesheet">
<body>
  <div class="container bg-white p-0">
      
<form (ngSubmit)="submitForgotPassword()">
  <input [(ngModel)]="email" name="email" type="email" class="form-control" required placeholder="Your email">
  <button class="btn btn-primary mt-2" type="submit">Quên mật khẩu</button>
</form>
<p *ngIf="message" class="alert alert-info mt-2">{{ message }}</p>

  </div>
</body>
