<head>
    <meta charset="utf-8">
    <title>BookingApp2025</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
</head>
    <body>
        <div class="container-xxl bg-white p-0">
        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(assets/img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Trang chủ</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item" aria-current="page">Trang chủ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
         <section class="hero bg-cover text-white d-flex align-items-center" style="height: 600px;">
                <div class="container text-center">
                    <h1 class="display-4 fw-bold">Bạn đang tìm phòng nghỉ đẳng cấp?</h1>
                    <p class="lead">Khách sạn và resort cao cấp, thiết kế theo nhu cầu riêng của bạn</p>
                    <a [routerLink]="['/room']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg px-4">Khám phá phòng</a>
                </div>
                </section>
                <section class="py-5">
                <div class="container">
                    <h2 class="mb-4 text-center">Khám phá <span class="text-primary text-uppercase">phòng đặt nhiều nhất</span></h2>
                    <div class="row">
                        <app-app-room-card></app-app-room-card>
                    </div>
                    <div class="text-center mt-3">
                    <a [routerLink]="['/room']" routerLinkActive="router-link-active"  class="btn btn-outline-primary">View All Rooms</a>
                    </div>
                </div>
                </section>

                <!-- choose us -->
                 <section class="bg-light py-5">
  <div class="container text-center">
   <h2 class="mb-4">Tại sao chọn BookingApp?</h2>
  <div class="row">
    <div class="col-md-4">
      <i class="fas fa-star fa-2x text-primary mb-3"></i>
      <h5>Khách sạn được đánh giá cao</h5>
      <p>Tất cả địa điểm đều được khách hàng đánh giá thực tế.</p>
    </div>
    <div class="col-md-4">
      <i class="fas fa-wallet fa-2x text-primary mb-3"></i>
      <h5>Cam kết giá tốt nhất</h5>
      <p>Không phí ẩn – bạn thấy gì là trả đúng như vậy.</p>
    </div>
    <div class="col-md-4">
      <i class="fas fa-headset fa-2x text-primary mb-3"></i>
      <h5>Hỗ trợ khách hàng 24/7</h5>
      <p>Cần hỗ trợ? Chúng tôi luôn sẵn sàng mọi lúc.</p>
    </div>
  </div>
  </div>
</section>
        <!-- construct -->
         <section class="py-5 text-center">
  <div class="container">
    <h2 class="mb-4">Cách đặt phòng</h2>
    <div class="row">
      <div class="col-md-3">
  <i class="fas fa-search-location fa-2x mb-2 text-primary"></i>
  <p>Tìm phòng</p>
</div>
<div class="col-md-3">
  <i class="fas fa-calendar-check fa-2x mb-2 text-primary"></i>
  <p>Chọn ngày lưu trú</p>
</div>
<div class="col-md-3">
  <i class="fas fa-credit-card fa-2x mb-2 text-primary"></i>
  <p>Thanh toán</p>
</div>
<div class="col-md-3">
  <i class="fas fa-door-open fa-2x mb-2 text-primary"></i>
  <p>Tận hưởng kỳ nghỉ</p>
</div>
    </div>
  </div>
</section>
        <!-- Newsletter Start -->
        <app-newsletter></app-newsletter>
        <!-- Newsletter Start -->

        </div>
    </body>
